<footer>
    <div id="copyright">
        <span>&copy</span>
        <span>Codeial. All Rights Reserved</span>
    </div>
    <div id="link">
        <li>
            <a href="/home">Home</a>
        </li>
        <li> 
             <a href="/usrers/profile">Profile</a> 
        </li>
    </div>
</footer>